<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
 
<head>
    <title>Postmates Racing</title> 

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/index">Home</a>
                    </li>
                    <li role="presentation"><a href="/courseMap">Course Map</a>
                    </li>
		    <li role="presentation" class="active"><a href="/leaderboard">Leaderboard</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Postmates Racing</h3>
        </div>
 
        <div class="row">
            <div class="col-md-12">
            	<table class="table table-striped">
    <thead>
      <tr>
	<th>Position</th>
	<th>Photo</th>
	<th>Vehicle</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Latest Course Time</th>
	<th>Best Course Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>1</td>
	<td></td>
	<td>Car</td>
        <td>John</td>
        <td>Doe</td>
        <td>18:12</td>
	<td>9:08</td>
      </tr>
      </tbody>
  </table>
	    </div>
	</div>
 
 
 
        <footer class="footer">
           <!-- <p>&copy; Company 2015</p>-->
        </footer>
 
    </div>
</body>
 
</html>
